@font-face {
  font-family: "bpg-extrasquare";
  src: url("../assets/fonts/bpg-extrasquare.ttf");
}

@font-face {
  font-family: "bpg-bold";
  src: url("../assets/fonts/bpg-bold.ttf");
}

@font-face {
  font-family: "dara1981-nusregular";
  src: url("../assets/fonts/dara1981-nus.otf");
}

@font-face {
  font-family: "dara1981-nusbold";
  src: url("../assets/fonts/dara1981-nus-bold.otf");
}

@font-face {
  font-family: "FiraGO-Bold";
  src: url("../assets/fonts/FiraGO-Bold.otf");
}

@font-face {
  font-family: "FiraGO-Regular";
  src: url("../assets/fonts/FiraGO-Regular.otf");
}
