.appartment {
  // width: 100vw;
  h2 {
    font-family: "bpg-bold";
    font-size: 48px;
    text-align: center;
    color: #3c3c3c;
    margin-top: 96px;

    @include lg {
      font-size: calc(28px + (48 - 28) * ((100vw - 375px) / (1310 - 375)));
    }

    &::after {
      content: "";
      width: 200px;
      height: 8px;
      background: #80c0f0;
      display: block;
      margin: auto;
    }
  }

  &__choose {
  }

  &__swiper {
    // width: 100vw;
    background: #f8f8f8;
    height: 308px;
    padding: 50px 0;
  }

  &__container {
    height: 100%;
  }

  &__details {
    padding-top: 32px;
  }

  &__wrapper {
    height: 530px;
    display: flex;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
      height: auto;
    }
  }

  &__review {
  }
}

.choose {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  &__item {
    width: 24%;
    height: 44px;
    border-radius: 4px 4px 0px 0px;
    background: #cbe4f7;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    outline: none;
    border: none;

    span {
      &:last-child {
        display: none;
      }

      @include rwd(400) {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: inline;
        }
      }
    }

    &:hover {
      background: #80c0f0;
    }
  }
}

.container-swipe {
  overflow: hidden;
  height: 100%;
  position: relative;
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slide {
    width: 308px;
    height: 100%;
    background-color: #fff;
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.size {
  display: flex;
  img {
    position: static;
    margin-right: 7px;
  }
}

.opacity {
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0.2;
}

.left {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 10px;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 10px;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sold {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-family: "bpg-extrasquare";
    font-size: 16px;
    color: #f08080;
  }
}

.gallery {
  width: 49.75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include lg {
    width: 100%;
  }

  &__top {
    height: 77%;
    overflow: hidden;
    img {
      max-width: 632px;
      height: 400px;
    }
  }
  &__thumbs {
    height: 20%;
    position: relative;
  }
  &__wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__slide2 {
    opacity: 0.25;
    margin: 0;
    width: 32% !important;
    margin: 0 !important;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.right-btn {
  position: absolute;
  right: 0;
  top: 40%;
}

.left-btn {
  position: absolute;
  left: 0;
  top: 40%;
}

.review {
  width: 49.75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @include lg {
    width: 100%;
  }
  &__top {
    width: 100%;
    display: flex;
    padding: 42px 45px;
    justify-content: space-between;

    @include sm {
      padding: 42px 5px;
    }
  }

  &__item {
    display: flex;

    img {
      @include sm {
        width: 30px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    span {
      &:first-child {
        font-size: 18px;

        @include xl {
          font-size: calc(9px + (18 - 9) * ((100vw - 375px) / (1310 - 375)));
        }
      }
      &:last-child {
        color: #cbcbcb;

        @include xl {
          font-size: calc(8px + (16 - 8) * ((100vw - 375px) / (1310 - 375)));
        }
      }
    }
  }

  &__center {
    width: 100%;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 51%;
    justify-content: space-between;

    @include lg {
      height: 231px;
    }

    @include sm {
      padding: 0 5px;
    }
  }

  &__info {
    padding: 10px 0;
    width: 50%;
    display: flex;
    align-items: center;

    span {
      margin-left: 32px;

      @include xl {
        font-size: calc(8px + (16 - 8) * ((100vw - 375px) / (1310 - 375)));
      }
    }
  }

  &__bottom {
    width: 100%;
    padding: 26px 32px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
  }

  &__price {
    span {
      font-family: "FiraGO-Bold";
      font-size: 48px;
      color: #80c0f0;

      @include lg {
        font-size: calc(26px + (48 - 26) * ((100vw - 375px) / (1310 - 375)));
      }
      sup {
        font-family: "FiraGO-Regular";
        font-size: 18px;
        color: black;

        @include lg {
          font-size: calc(9px + (18 - 9) * ((100vw - 375px) / (1310 - 375)));
        }
      }
    }
  }
}

.swiper-slide-thumb-active {
  opacity: 1;
}
